* {
    box-sizing: border-box;
  }

  .header {
    background-color: #B25068; /* Your desired red color */
    display: flex;
    padding: auto;
    justify-content: space-between;
    align-items: center;
  }
  
  .header a {
    color: white;
    text-decoration: none;
  }
  
  .header.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header .header-right a {
    margin-left: 20px;
  }

  .header img {
    max-width: 7%; 
    height: auto; 
  }  
@media only screen and (max-width: 600px) {
    .header {
      background-color: lightblue;
    }
  }